<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hw11</title>
    <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet">
</head>
<body>
<div class="content">
<img src="https://i.mydramalist.com/Qp647c.jpg">
<h1>Гэн Уробути</h1>
<h2>Японский сценарист. Создатель визуального романа <a href="https://ru.wikipedia.org/wiki/Saya_no_Uta" target="_blank">Saya no Uta</a>
    и ранобэ <a href="https://ru.wikipedia.org/wiki/Fate/Zero" target="_blank">Fate/Zero</a>,
    сценарист аниме <a href="https://ru.wikipedia.org/wiki/Mahou_Shoujo_Madoka_Magica" target="_blank">Mahou Shoujo Madoka Magica</a> и
    <a href="https://ru.wikipedia.org/wiki/Psycho-Pass" target="_blank">Psycho-Pass</a>, а также многих других известных работ.
    Является одним из основателей компании <a href="https://ru.wikipedia.org/wiki/Nitroplus" target="_blank">Nitroplus</a>
</h2>
</div>
</body>
</html>