<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>hw11 part 1</title>
    <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet"/>
</head>
<body>
<aside>
    <div class="urobutcher">
        <center>
            <img src="https://ogre.natalie.mu/media/pp/static/eiga/shingodzilla_01/photo02.jpg" alt="urobutcher"/>
        </center>
    </div>
</aside>
<main>
    <h1>Гэн Уробути</h1>
    <h2>Японский сценарист. Создатель визуального романа <a href="https://ru.wikipedia.org/wiki/Saya_no_Uta"
                                                            target="_blank">Saya no Uta</a>
        и ранобэ <a href="https://ru.wikipedia.org/wiki/Fate/Zero" target="_blank">Fate/Zero</a>,
        сценарист аниме <a href="https://ru.wikipedia.org/wiki/Mahou_Shoujo_Madoka_Magica" target="_blank">Mahou Shoujo
            Madoka Magica</a> и
        <a href="https://ru.wikipedia.org/wiki/Psycho-Pass" target="_blank">Psycho-Pass</a>, а также многих других
        известных работ.
        Является одним из основателей компании <a href="https://ru.wikipedia.org/wiki/Nitroplus" target="_blank">Nitroplus</a>
    </h2>
    <p>
        <del>
            Одна из его самых популярных работ, Mahou Shoujo Madoka Magica, удостоилась наград Tokyo Anime Award и
            Newtype,
            а фильм-продолжение Rebellion вошёл в лонг-лист 86-й премии «Оскар».
            Фильм Psycho-Pass удостоился премии Newtype anime awards в 2015 году.
        </del>
    </p>
    <p><strong>
        Уробути — выпускник университета Вако. На работу в качестве сценариста его вдохновили VN от Leaf.
        После этого он начал работать с Nitroplus и в 2000 году написал дебютное произведение — визуальный роман
        Phantom of Inferno. Позже он начал писать сценарии и к аниме, отметив, что это подходит ему больше,
        потому что создание сценария для аниме не требует написания дополнительных текстов, которые могут быть
        нужны для удовлетворения игроков. Первыми аниме, над которыми он работал, были
        «Блассрейтер», экранизация Phantom of Inferno и
        прославившая его Mahou Shoujo Madoka Magica.
    </strong></p>
    <p><em>
        Работы Гэна Уробути содержат большое количество кровавых сцен, смертей персонажей и трагических
        поворотов сюжета, за что от фанатов и критиков он получил прозвище «Urobutcher» (от англ. «butcher» — мясник).
        Так, именно он настоял на смерти одного из персонажей в «Девочке-волшебнице Мадоке»,
        хотя режиссёр Акиюки Симбо предлагал сохранить ей жизнь. Говоря о смертях персонажей в его работах,
        Уробути отмечал, что он не чувствует, что он «убивает» каких-либо персонажей, и не хочет никого из них
        «спасать» — просто не всем персонажам суждено прожить долгую жизнь, как и людям, что не лишает их
        существование смысла. К тому же он считает, что после своей смерти в произведении персонаж не
        обязательно исчезает из истории — некоторые персонажи, такие, как
        Цезарь Цеппели в JoJo’s Bizarre Adventure, стали бессмертными как раз потому, что умерли.
    </em></p>
    <p>
        <mark>
            В диалоге с Кадзуо Койкэ Уробути заявил, что он уклоняется от выбора простых имен,
            которые соответствовали бы личностям персонажей, и вместо этого выбирает более необычные имена,
            информацию по которым легче найти в поисковых системах. Кадзуо Койкэ противопоставлял это решение
            способу наименования персонажей в своих произведениях. Однако он пришёл к выводу, что
            способ Уробути может быть эффективным и позволит зрителям глубже погрузиться в историю.
            Кроме того, если Койкэ пытается привлечь внимание читателя с первых страниц манги,
            то атмосфера в «Девочке-волшебнице Мадоке» не была понятна до третьей серии.
            Койкэ и и Уробути высоко отозвались о творчестве Стивена Кинга.
        </mark>
    </p>
    <p>Гэн Уробути не стесняется использовать и жуткие сексуальные сцены для того, чтобы сделать свои произведения более
        интересными.
        Он всегда создаёт персонажей, в чём-то похожих на него, и ещё никогда не создавал полностью чуждого для себя
        персонажа</p>
</main>
</body>
</html>